<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>eBookcase</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link th:href="@{/signin.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="main" th:href="@{/main}" class="navbar-brand">eBookcase</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/books}">Książki</a></li>
                <li><a href="#contact">Autorzy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moja biblioteka
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Moje książki</a></li>
                        <li><a href="#">Moje półki</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Default</a></li>-->
                <!--<li><a href="#">Static top <span class="sr-only">(current)</span></a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <span th:text="${username}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <a th:href="@{/logout}" th:text="Logout"></a>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>