<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>eBookcase</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/signin.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="main" th:href="@{/main}" class="navbar-brand">eBookcase</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Książki
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/books}">Dostępne Książki</a></li>
                        <li><a href="#"th:href="@{/newBook}">Dodaj Książkę</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/newauthor}">Autorzy</a></li>
                <li><a th:href="@{/categories}">Kategorie</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moja biblioteka
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/myBooks}">Moje książki</a></li>
                    </ul>
                </li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addBook}">Dodaj książkę</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addAuthor}">Dodaj autora</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addCategory}">Dodaj kategorię</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <span th:text="${session.username}" th:unless="${session == null}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <a th:href="@{/logout}" th:text="Wyloguj"></a>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="welcome" style="clear:left; margin:auto; width:20%; margin-bottom:10px;">
    <h1><span sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name">Mark</span></span></h1>
</div>